<div id="container">
    <mat-form-field class="example-full-width">
        <mat-label>Nom du service</mat-label>
        <input matInput placeholder="Ex. Netflix, Amazon Prime...">
    </mat-form-field>

    <mat-button-toggle-group id="renew" name="renew" aria-label="Style" [(value)]="renew">
        <mat-button-toggle value="unique">Unique</mat-button-toggle>
        <mat-button-toggle value="subscription">Abonnement</mat-button-toggle>
    </mat-button-toggle-group>

    <div *ngIf="renew === 'unique'">
        <mat-form-field class="example-full-width">
            <mat-label>Date de fin</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>