.floating-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    text-align: center;
}

.content {
    margin-top: 4rem;
}