<div *ngFor="let itm of arr">
    <mat-card style="margin: 1rem;">
        <mat-card-title *ngIf="!itm.expired">{{ itm.title }}</mat-card-title>
        <mat-card-title *ngIf="itm.expired" style="color: gray;">{{ itm.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="!itm.autorenew">
            {{ itm.ended | date }}
            <span *ngIf="!itm.expired">({{ daysLeft(itm) }})</span>
            <span *ngIf="itm.expired" style="color: red;">(Expiré)</span>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="itm.autorenew">
            Dernier paiement : {{ itm.last | date }}, Prochain paiement dans {{ nextPayment(itm) }} jours
        </mat-card-subtitle>
    </mat-card>
</div>

<button mat-fab color="primary" class="floating-button">
    <mat-icon>add</mat-icon>
</button>